.main-head img{
    width: 120%;
    height: 100%;
}
.bg-inverse{
    background-color: black;
    width: 100%;
    height: 460px;
}
.flex-item{
    width: 30%;
}
.flex-item:hover{
    opacity: 0.8;
    cursor: pointer;
}
.i{
    font-size: 2em;
}
.social{
    display: table;
}
.social i{
    width: 30px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius:  5px;
    cursor: pointer;
}
.card {
    border-radius: 0;
}